<div>
  <h1>Your Form Inputs:</h1>
  <h3>Full Name</h3>
  <h4>
    <%= @full_name %>
  </h4>
  <h3>School Year</h3>
  <h4>
    <%= @school_year %>
  </h4>
  <h3>Major</h3>
  <h4>
    <%= @major %>
  </h4>
</div>