<div>
  <h1>Your Form Inputs:</h1>
  <h3>Full name</h3>
  <h4>
    <%= @full_name %>
  </h4>
  <h3>Course</h3>
  <h4>
    <%= @course %>
  </h4>
  <h3>Grade level</h3>
  <h4>
    <%= @grade_level %>
  </h4>
</div>
